/* CSS Variables */

:root {
  --ms-excel-color: #107a40;  
  --ms-word-color: #185abd;
  --ms-outlook-color: #1480d8;
  --ms-onenote-color: #68149d;
  --ms-access-color:#b32436;
  --ms-access-color:#c43f1d;
  --bootstrap-secondary-color: #6c757d;
}

H1 {
  color: #343a40;
}

H2 {
  color: aliceblue;
  padding: 1rem;
  border-radius: 5px;
  margin: 10px;
  background-color: var(--ms-outlook-color);
  max-width: 780px;
}

.redwarning {
  border: solid 0.3em;
  border-radius: 5px;
  border-color: var(--ms-access-color);
  max-width: 780px;
  margin: 0.5em;
  padding: 0.5em;
}


.onenotestyleheader {
  border-radius: 5px;
  margin: 10px;
  background-color: var(--ms-onenote-color);
  max-width: 780px;
}

  .outlookstyleheader {
    border-radius: 5px;
    margin: 10px;
    background-color: var(--ms-outlook-color);
    max-width: 780px;
  }

.wordstyleheader {
  border-radius: 5px;
  margin: 10px;
  background-color: var(--ms-word-color);
  max-width: 780px;
}

.excelstyleheader {
  border-radius: 5px;
  margin: 10px;
  background-color: var(--ms-excel-color);
  max-width: 780px;
}


/* Adaptive Table */
.adaptive .table-wrap {
  text-align: center;
  display: inline-block;
  background-color: #fff;
  padding: 2rem 2rem;
  color: #000;
}

.adaptive table {
  border: 1px solid #ccc;
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

.adaptive table tr {
  border: 1px solid #ddd;
  padding: 5px;
}

.adaptive table th,
.adaptive table td {
  padding: 10px;
  text-align: center;
  border-right: 1px solid #ddd;
}

.adaptive table th {
  color: #fff;
  background-color: #6c757d;
  /* text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px; */
}


@media screen and (max-width: 720px) {
  .adaptive table {
      border: 0;
  }

  .adaptive table thead {
      display: none;
  }

  .adaptive table tr {
      margin-bottom: 10px;
      display: block;
      border-bottom: 2px solid #ddd;
  }

  .adaptive table td {
      display: block;
      text-align: right;
      font-size: 13px;
      border-bottom: 1px dotted #ccc;
      border-right: 1px solid transparent;
  }

  .adaptive table td:last-child {
      border-bottom: 0;
  }

  .adaptive table td:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
  }
}

/* Animated */
.animated {
    -webkit-animation-duration: 0.275s;
    animation-duration: 0.275s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  

