/* CSS Variables */

:root {
  --ms-excel-color: #107a40;  
  --ms-word-color: #185abd;
  --ms-outlook-color: #1480d8;
  --ms-onenote-color: #68149d;
  --ms-access-color:#b32436;
  --ms-access-color:#c43f1d;
  --bootstrap-secondary-color: #6c757d;

 
}

H1 {
  color: #343a40;
}

H2 {
  color: aliceblue;
  padding: 1rem;
  border-radius: 5px;
  margin: 10px;
  background-color: var(--ms-outlook-color);
  max-width: 780px;
}



.redwarning {
  border: solid 0.3em;
  border-radius: 5px;
  border-color: var(--ms-access-color);
  max-width: 780px;
  margin: 0.5em;
  padding: 0.5em;
}


.onenotestyleheader {
  border-radius: 5px;
  margin: 10px;
  background-color: var(--ms-onenote-color);
  max-width: 780px;
}

  .outlookstyleheader {
    border-radius: 5px;
    margin: 10px;
    background-color: var(--ms-outlook-color);
    max-width: 780px;
  }

.wordstyleheader {
  border-radius: 5px;
  margin: 10px;
  background-color: var(--ms-word-color);
  max-width: 780px;
}

.excelstyleheader {
  border-radius: 5px;
  margin: 10px;
  background-color: var(--ms-excel-color);
  max-width: 780px;
}
